[submodule "lib/toml"]
	path = lib/toml
	url = https://github.com/mkervabo/toml.git
[submodule "lib/obj"]
	path = lib/obj
	url = https://github.com/mkervabo/obj.git
[submodule "lib/mtl"]
	path = lib/mtl
	url = https://github.com/mkervabo/mtl.git
